<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }

      table, td, th {
        border: 1px solid black;
      }

      th {
        background-color: #000000;
        color: #FFFFFF;
      }
    </style>
  </head>
  <body>
    <table>
      <tr><th>欄位</th><th>內容</th></tr>
      <tr><td>名字</td><td><%= user.name.first %></td></tr>
      <tr><td>年齡</td><td><%= user.age %></td></tr>
      <tr><td>物種</td><td><%= user.species %></td></tr>
    </table>
  </body>
</html>